This repository is a marketing website for a opera singer. It is built with Pages CMS and basic HTML, CSS, and JavaScript.
The website is hosted on GitHub Pages and is deployed using the Pages CMS action.

Use docs to learn about the Pages CMS and the ideas.